doctype HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type"
        content="text/html")
    meta(name="viewport"
        content="width=320, target-densitydpi=device-dpi")


  body
    table(style="background-color:#ececec")
      tbody
        tr(style="")
          td

            table
              tbody

                tr(style="")
                  p empty row

                tr(style="")
                  a(href="http://www.simpoll.com/stopify")

                tr(style="")
                  p Stopify Shop

                tr(style="")
                  p Hello Frank
                  p Thank you for your recent purchase at our store. Please tell us what you think of our product

                  table
                    tbody

                      tr
                        td product image
                        td smiley
                        td frowny

                        td
                          input(name="comment", type="text", placeholder="any comments?")

                      tr
                        td
                          input(name="comment", type="submit", text="Submit your review")

                tr
                  td footer

                tr
                  td empty row
