extends layout

block pagespecificstyles
      link(rel="stylesheet"
        type="text/css"
        href="/stylesheets/dashboard.css")

block content
  .container.dashbody
    include header
    .row.box-highlights
      .col-lg-3
        .box-highlight.one
          .details
            .col-xs-3.icon-holder
              i.fa.fa-comments-o.fa-5x.icon
            .col-xs-9.description
              span.stat 0
              span.stat-label Emails Sent
          .action
            .col-lg-9
              a.view-more(href='#') View More
            .col-lg-3.arrow-holder
              a.view-more-arrow(href='#')
                i.fa.fa-arrow-circle-o-right
      .col-lg-3
        .box-highlight.two
          .details
            .col-xs-3.icon-holder
              i.fa.fa-pencil-square-o.fa-5x.icon
            .col-xs-9.description
              span.stat 0
              span.stat-label New Reviews
          .action
            .col-lg-9
              a.view-more(href='#') View More
            .col-lg-3.arrow-holder
              a.view-more-arrow(href='#')
                i.fa.fa-arrow-circle-o-right
      .col-lg-3
        .box-highlight.three
          .details
            .col-xs-3.icon-holder
              i.fa.fa-user.fa-5x.icon
            .col-xs-9.description
              span.stat 0
              span.stat-label Negatives
          .action
            .col-lg-9
              a.view-more(href='#') View More
            .col-lg-3.arrow-holder
              a.view-more-arrow(href='#')
                i.fa.fa-arrow-circle-o-right
      .col-lg-3
        .box-highlight.four
          .details
            .col-xs-3.icon-holder
              i.fa.fa-globe.fa-5x.icon
            .col-xs-9.description
              span.stat 0
              span.stat-label Brand Rating
          .action
            .col-lg-9
              a.view-more(href='#') View More
            .col-lg-3.arrow-holder
              a.view-more-arrow(href='#')
                i.fa.fa-arrow-circle-o-right
    .row.circle-highlights
      .col-lg-3
        .circle-highlight
          .value.one
            p 0%
          h4.description Send Rate
      .col-lg-3
        .circle-highlight
          .value.two
            p 0%
          h4.description Response Rate
      .col-lg-3
        .circle-highlight
          .value.three
            p 0%
          h4.description Social Visibility
      .col-lg-3
        .circle-highlight
          .value.four
            p 0%
          h4.description Shop Visibility
    .row.top-reviewers
      .col-lg-12
        table.table.table-bordered
          tr.header
            th.header-text(colspan='5')
              i.fa.fa-thumbs-o-up.icon
              | &nbsp;Top Reviewers
          tr
            td(colspan='5') No data to display
    .row.bottom-reviewers
      .col-lg-12
        table.table.table-bordered
          tr.header
            th.header-text(colspan='5')
              i.fa.fa-thumbs-o-down.icon
              | &nbsp;Bottom Reviewers
          tr
            td(colspan='5') No data to display
    .row.top-products
      .col-lg-12
        .products
          .header
            h4.header-text
              i.fa.fa-coffee
              | &nbsp;Top Rated Products
          .body
            .product-list.row
              .col-lg-12
                p No data to display
    include footer