extends layout

block pagespecificstyles
      link(rel="stylesheet"
        type="text/css"
        href="/stylesheets/login.css")

block content
  .container
    include header
    .row.install
      .col-lg-12(style='margin-bottom: 2em;')
          h1(style='text-align: center; color: #16AD1C;') Login to your Account
      .col-lg-12(style='margin-bottom: 4em;')
        if hasError
          p.lead.errorInfo Bad Login, Try Again :(
        form(role='form', action='/login', method='post')
          .form-group
            input.form-control(type='text', name='shop', placeholder='Your Shop Name e.g. myshoeshop')
          .form-group
            input.form-control(type='password', name='password', placeholder='Enter your password')
          button.btn.btn-primary.btn-block(type='submit') Login
    include footer